main{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(243, 247, 247);
  padding: 50px;
}
#div1{
  width: 100%;
  height: 100%;
  font-family:Poppins;
  text-align: center;
}
#div1 p{
  font-size: 15px;
  color:hsl(229, 6%, 66%)
}
#div1 h1{
  color: hsl(234, 12%, 34%)
}
#div2{
  display: flex;
  justify-content: center;
  align-items: center;
}